{% extends 'base.html.twig' %}

{% block body %}
<h1>
    bienvenue  {{ app.user.username }}
</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat ipsum magni neque quidem quisquam! Consequuntur, cum deleniti esse ipsa laborum nihil odio reprehenderit repudiandae tempore temporibus ut vel, veniam veritatis.
    </p>
{% endblock %}

{% block title %}

{% endblock %}

